.newSongForm {
    height: 130px;
    border-radius: 0 0 15px 15px;
    background-color: lightblue;

    label {
        display: inline-block;
        width: 80px;
        //top right bottom left
        margin: 15px 10px 0px 20px;
    }

    .genreLabel,
    .youtubeLabel {
        width: 100px;
    }

    .artistInput,
    .genreSelect,
    .songTitleInput,
    .youtubeInput {
        width: 160px;
    }

    .rating {
        color: orange;
    }

    .fa-circle-check {
        display: inline-block;
        color: green;
        margin-left: 50px;
    }
}